version: '3.8'

services:
  typesense:
    image: typesense/typesense:0.25.2 # Use latest stable version
    container_name: typesense
    restart: always
    ports:
      - "8108:8108"
    volumes:
      - typesense-data:/data
    command: >
      --data-dir /data
      --api-key=xyz
      --enable-cors

volumes:
  typesense-data: